.box2{
     margin-top: 5rem;
 /* border: 2px solid black; */
 height: 30rem;
 width: 95rem;
 display: flex;
 justify-content: center;
}

.item{
   
    /* border: 2px solid black; */
height: 30rem;
 width: 30rem;
}
.item111{
    background-color: gray;
    border-radius: 25px;
}
/* /* .item3{
    
} */
.item2{

} 
.head {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.item1, .item2, .item3, .item4, .item7, .item8, .item9, .item10, .item11 {
    padding: 0.5rem;
}

@media (min-width: 600px) {
  html { font-size: 17px; }
}
@media (min-width: 992px) {
  html { font-size: 18px; }
  .box2 {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 4rem 2rem;
  }
}